<table class="table table-striped" id="table-venta">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cant.</th>
            <th scope="col">Precio Unit.</th>
            <th scope="col">Subtotal</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
           
        </tr>
    </tbody>
</table>