<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand logo" href="/"> <i class="fas fa-store"></i> Go! </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-primary" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-archive"></i> Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/productos/add"> Productos </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/productos/tipo/add"> Tipos de Producto </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/productos/marca/add"> Marcas </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/productos/proveedores/add"> Proveedores </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users"></i> Personas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/persona/empleados/add"> Empleados </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/persona/clientes/add"> Clientes </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search"></i> Consultas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/productos/add"> Avanzado </a>
            <!--<div class="dropdown-divider"></div>-->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-dollar-sign"></i> Facturacion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/facturacion/facturaregistro"> Realizar factura </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/facturacion/compra"> Realizar compra </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/facturacion/ventas/transacciones"> Transacciones de Venta </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/facturacion/compra/transacciones"> Transacciones de Compra </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/facturacion/metodopago/add"> Metodos de Pago </a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-tools"></i> Configuración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/laboral/categorias/add"> Categorías Laborales </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/laboral/users/add"> Usuarios </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"> Cerrar Sesión </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>