<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto d-none" id="add-empleado">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Agregar Empleado
                </div>
                <div class="card-body">
                    <form action="/persona/empleados/add" method="POST">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" name="id_persona" placeholder="Identidad"
                                    autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" name="nombre_persona" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" name="apellido_persona" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-4 text-center mt-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1"
                                        value="0">
                                    <label class="form-check-label" for="inlineRadio1"> Masculino </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2"
                                        value="1">
                                    <label class="form-check-label" for="inlineRadio2"> Femenino </label>
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <input type="text" class="form-control" name="celular" placeholder="Celular">
                            </div>
                        </div>

                        <label for="fecha-con"> Fecha de contratación </label>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="date" name="fecha_contratacion" class="form-control" id="fecha-con">
                            </div>

                            <div class="form-group col-md-6">
                                <select id="inputState sel-tipo" name="id_categoria" class="custom-select">
                                    <option selected> - Seleccione Puesto Laboral - </option>
                                    {{> options/select-laboral }}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <textarea class="form-control" name="direccion_residencia" id="" cols="30" rows="2"
                                    placeholder="Direccion de Residencia"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6" id="tipo">
                                <select id="depto" name="id_depto" class="custom-select">
                                    <option selected> - Seleccione Departamento - </option>
                                    {{> options/select-depto }}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="ciudad" name="id_ciudad" class="custom-select">
                                    <option selected> - Seleccione Ciudad - </option>
                                    {{!--{{> options/select-ciudad }}--}}
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success float-right">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Opciones
                </div>
                <div class="card-body text-center">
                    <a href="/home" class="btn btn-primary btn-block">
                        <i class="fas fa-home"></i> Home
                    </a>
                    <a href="/persona/informe-general-empleados" class="btn btn-danger btn-block mt-2">
                        <i class="fas fa-file-pdf"></i> Reporte
                    </a>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="ml-4 mr-4">
    <div>
        {{> list-empleados }}
    </div>
</div>
{{> options/dynamic-select }}

<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    const add_empleado = $('#add-empleado')

    // ID PRIVILEGIO
    var tipoPrivilegio = `{{user.ID_ROL}}`

    // DISEÑADOR
    if (tipoPrivilegio === '7') {
        console.log("Diseñador")
    }
    else if (tipoPrivilegio === '3') {
        add_empleado.removeClass('d-none');
    }

</script>