<div class="container p-4">
    <div class="alert alert-danger d-none" role="alert" id="alert">
        A simple danger alert—check it out!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header font-weight-bold">
                    <i class="fas fa-cart-plus"></i> NUEVA FACTURA
                </div>
                <div class="card-body">
                    <form action="/facturacion/facturaregistro" method="POST">
                        <label>Datos</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <!--<select id="cliente-tipo" name="id_persona" class="custom-select">
                                    <option selected> - Cliente - </option>
                                    {{> options/select-clientes }}
                                </select>-->
                                <input type="text" id="id-cliente" class="form-control" name="id_persona" placeholder="ID Cliente">


                            </div>
                            <div class="form-group">
                                <button type="button" id="bCliente" class="btn btn-success float-right">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="form-group ml-2">
                                <a href="/persona/clientes/add" class="btn btn-success float-right">
                                    <i class="far fa-address-card"></i> Nuevo
                                </a>
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" id="name-cli" class="form-control" placeholder="Nombres" disabled>
                            </div>

                            <div class="form-group col-md-4">
                                <input type="text" id="cel-cli" class="form-control" placeholder="Celular" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select id="inputState sel-tipo" name="id_empleado" class="custom-select">
                                    <option selected> - Empleado atendió - </option>
                                    {{> options/select-empleados }}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select id="inputState sel-tipo" name="id_modopago" class="custom-select">
                                    <option selected> - Metodo de Pago - </option>
                                    {{> options/select-metodopago }}
                                </select>
                            </div>
                        </div>


                        <label>Productos</label>


                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <select id="price-stock-product" class="custom-select">
                                    <option selected> - Productos - </option>
                                    {{> options/select-productos }}
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <input type="number" id="cantidad-venta" class="form-control" min="1"
                                    onkeydown="if(event.key==='.'){event.preventDefault();}" placeholder="Cantidad"
                                    required>
                            </div>

                            <div class="form-group col-md-4">
                                <input type="number" id="price-pro" class="form-control" min="1"
                                    placeholder="Precio Unit." disabled>
                            </div>
                        </div>

                        <!-- Boton Save

                        <button type="button" class="btn btn-success float-right mb-4">
                            <i class="fas fa-print"></i> Imprimir Factura
                        </button> -->

                        <button type="submit" class="btn btn-success float-right mb-4 mr-2">
                            <i class="fas fa-file-invoice"></i> Procesar
                        </button>

                        <button type="button" id="btn-agregar" class="btn btn-success float-right mb-4 mr-2">
                            <i class="far fa-plus-square"></i> Agregar Producto
                        </button>
                        <div class="col-md-12 mt-5">
                            {{> factura-list-registro }}
                        </div>
                    </form>

                    <div class="form-group col-md-2 float-right">
                        <label> Subtotal</label>
                        <input type="text" id="st-venta" class="form-control" placeholder="Subtotal" disabled>
                        <label class="mt-2"> ISV</label>
                        <input type="text" id="isv" class="form-control " placeholder="ISV" disabled>
                        <label class="mt-2"> Total </label>
                        <input type="text" id="total" class="form-control" placeholder="Total" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    const celText = this.document.getElementById('cel-cli')
    const nameText = this.document.getElementById('name-cli')

    const preUnit = this.document.getElementById('price-pro')

    const alert = document.getElementById('alert');

    const clienteSel = this.document.getElementById('cliente-tipo')
    const productoSel = this.document.getElementById('price-stock-product')

    // Totales
    const stVenta = this.document.getElementById('st-venta')
    const isvVenta = this.document.getElementById('isv')
    const totalVenta = this.document.getElementById('total')

    // Busqueda de Cliente

    const buscarCliente = $("#bCliente")
    const noRows = $('#alert')

    buscarCliente.on('click', function () {
        const idCliente = $("#id-cliente")
        $.ajax({
            url: "/persona/consultas/clientes",
            success: function (clientes) {
                if (JSON.stringify(clientes).includes(idCliente.val())) {
                    var index = clientes.findIndex(obj => obj.ID_PERSONA === idCliente.val())
                    celText.value = clientes[index].CELULAR
                    nameText.value = clientes[index].NOMBRE_PERSONA + " " + clientes[index].APELLIDO_PERSONA
                }
                else {
                    noRows.text("Cliente no existe")
                    noRows.removeClass('d-none')

                    setTimeout(function () {
                        noRows.addClass('d-none')
                    }, 5000);
                }

            }
        })
    });

    // Productos
    var idProd = 0
    var descProd = ""

    var currentStock = 0

    productoSel.onchange = function dataProductos() {
        const proValue = productoSel.value
        const opValuePro = document.getElementsByClassName('opt-pro')

        const selectItemPro = productoSel.selectedIndex

        if (selectItemPro === 0) {
            preUnit.value = ""
        }
        else {
            preUnit.value = opValuePro[selectItemPro - 1].classList[1]
            // Stock
            currentStock = opValuePro[selectItemPro - 1].classList[2]
            console.log("Stock", opValuePro[selectItemPro - 1].classList[2])
        }

        idProd = productoSel.value
        descProd = productoSel.options[productoSel.selectedIndex].text

        console.log(idProd, descProd)
    }


    // Boton Agregar a Tabla

    const btnAgregar = this.document.getElementById('btn-agregar')
    var key = 1;
    var subtotal = 0
    var total = 0
    var isv = 0

    // Tabla e Inputs
    const tableVenta = document.getElementById('table-venta')
    const amountVenta = document.getElementById('cantidad-venta')
    const priceVenta = document.getElementById('price-pro')

    btnAgregar.onclick = tableProducto

    function removeItem(key) {
        document.getElementById(key).remove()
    }

    function tableProducto() {
        if (parseInt(amountVenta.value) > parseInt(currentStock)) {
            alert.innerText = 'No existe cantidad disponible en stock';
            alert.classList.remove('d-none');

            setTimeout(function () {
                alert.classList.add('d-none');
            }, 4000);

            return
        }
        const row = tableVenta.insertRow()
        row.setAttribute('id', key++);
        var st = parseInt(amountVenta.value) * parseFloat(priceVenta.value)
        subtotal = subtotal + st
        isv = subtotal * 0.15
        total = subtotal + isv
        row.innerHTML = `
                <td> ${idProd} <input type="hidden" name="id_productos" value="${idProd}" /> </td>
                <td> ${descProd} </td>
                <td> ${amountVenta.value} <input type="number" name="cantidad" value="${amountVenta.value}" hidden> </td>
                <td> ${priceVenta.value} <input type="number" name="precio_unit" value="${priceVenta.value}" hidden> </td>
                <td> ${st.toFixed(2)} </td>
                <td> </td>
            `

        const removeBtn = document.createElement('button')
        removeBtn.classList.add('btn', 'btn-danger')
        removeBtn.innerHTML = `<i class="fa fa-trash"></i>`
        row.children[5].appendChild(removeBtn)

        stVenta.value = subtotal.toFixed(2)
        isvVenta.value = isv.toFixed(2)
        totalVenta.value = total.toFixed(2)

        removeBtn.onclick = function () {
            removeItem(row.getAttribute('id'))
            subtotal = subtotal - st
            isv = subtotal * 0.15
            total = subtotal + isv
            stVenta.value = subtotal.toFixed(2)
            isvVenta.value = isv.toFixed(2)
            totalVenta.value = total.toFixed(2)
        }
    }
</script>