<div class="container">
    <div class="col-md-12 mt-5">
        <div class="card">
            <div class="card-header font-weight-bold">
                <i class="fas fa-list"></i> Lista Detalle de Facturación
            </div>
            <div class="card-body">
                {{> details-factura }}
                <div class="form-group col-md-2 float-right">
                    <label> Subtotal</label>
                    <input type="text" id="st-venta" class="form-control" placeholder="Subtotal" disabled value="{{facturaTotal.SUBTOTAL}}">
                    <label class="mt-2"> ISV </label>
                    <input type="text" id="isv" class="form-control " placeholder="ISV" disabled value="{{facturaTotal.ISV}}">
                    <label class="mt-2"> Total </label>
                    <input type="text" id="total" class="form-control" placeholder="Total" disabled value="{{facturaTotal.Total}}">
                </div>
            </div>
        </div>
    </div>
</div>