<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header font-weight-bold">
                    Editar metodo de pago
                </div>
                <div class="card-body">
                    <form action="/facturacion/metodopago/edit/{{modo_pago.ID_MODOPAGO}}" method="POST">
                        <div class="form-group">
                            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" class="form-control to-mayus" name="desc_modopago" value="{{modo_pago.DESC_MODOPAGO}}" placeholder="Metodo de Pago"
                                autofocus required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success float-right">
                                <i class="fas fa-save"></i> Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>