<div class="container">
    <div class="col-md-12 mt-5">
        <div class="card">
            <div class="card-header font-weight-bold">
                <i class="fas fa-list"></i> Lista General de Compras
            </div>
            <div class="card-body">
                {{> list-compras }}
            </div>
        </div>
    </div>
</div>